header {

}

h2 {
    margin: 5% auto;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin: 0 auto;
    
}
input {
    text-align: center;
    line-height: 1.5;
}

.item-completed {
    text-decoration: line-through;
}